/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Lexend Deca';
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    place-content: center;
    min-height: 100vh;
    
}

main {
    display: flex;
    place-content: center;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}



h1 {
    font-family: 'Big Shoulders Display', cursive;
}

a {
    max-width: 9.125rem;
    max-height: 3rem;
    text-decoration: none;
    background-color: white;
    border-radius: 2rem;
    font-size: 0.938rem;
    padding: 1rem;

}

a:hover, a:focus-visible{
    border: solid 2px white;
}




.card {
    display: flex;
    flex-direction: column;
    color: hsl(0, 0%, 95%);
    padding: 5.5rem 2rem 2rem 2rem;
    

}

.card p {
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 2rem;
}

.card h1 {
    margin-top: 2.188rem;
    margin-bottom: 1.563rem;
}

/* Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%) */

#cards {
    padding: 2.938rem;
    
}


.sedans {
    background-color:  hsl(31, 77%, 52%);
    border-radius: 0.5rem 0.5rem 0 0;
    
}

.sedans a{
    color:#E28625;
}
.sedans a:hover, .sedans a:focus-visible{
    color: white;
    background-color:  hsl(31, 77%, 52%);;
}

.suvs{
    background-color: hsl(184, 100%, 22%);
}
.suvs a{
    color: #006971;
}

.suvs a:hover, .suvs a:focus-visible{
    color: white;
    background-color:  hsl(184, 100%, 22%);
}


.luxury{
   background-color:  hsl(179, 100%, 13%);
   border-radius: 0 0 0.5rem 0.5rem;
}

.luxury a {
    color: #004140;
}

.luxury a:hover, .luxury a:focus-visible{
    color: white;
    background-color:  hsl(179, 100%, 13%);
}



@media (min-width: 1024px) {
    .card {
        flex-direction: row;
        max-width: 57.5rem;
    }

    .sedans {
        border-radius: 0.5rem 0  0 0.5rem;
    }

    .luxury {
        border-radius: 0  0.5rem 0.5rem 0;
    }
}